/* VARIAVEIS */

:root {
  --bg-header: #630D16;
  --text-primary: #000;
  --bg-main: #d1d1d6;
  --brand-color: #f58b1b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

body {
  background-image: url(../assets/img1.avif);
  background-repeat: no-repeat;  
  background-size: cover;       
  background-position: center;
  min-height: 100vh;
  color: var(--text-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-header);
  padding: 20px 5%;
}

.logo {
  font-weight: 600;
  font-size: 1.7rem;
}

.logo span {
  color: var(--brand-color);
  font-size: 1.7rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: var(--text-primary);
  /* text-decoration: none; */
}

nav ul li a:hover {
  color: var(--brand-color)
}

